<div style="max-width: 1200px; margin: auto">

  <h1 style="text-align: center;"><span style="font-size:36px;"><span style="font-family:Verdana,Geneva,sans-serif;">Vous avez un nouveau message</span></span></h1>

  <table align="left" border="1" cellpadding="10" cellspacing="1" dir="ltr" style="width:100%;">
    <tbody>
      <tr>
        <td style="width: 50%;"><span style="font-family:Verdana,Geneva,sans-serif;">Nom</span></td>
        <td><span style="font-family:Verdana,Geneva,sans-serif;">{{ prenom }} {{ nom }}</span></td>
      </tr>
      <tr>
        <td><span style="font-family:Verdana,Geneva,sans-serif;">Téléphone</span></td>
        <td><span style="font-family:Verdana,Geneva,sans-serif;">{{ tel }}</span></td>
      </tr>
      <tr>
        <td><span style="font-family:Verdana,Geneva,sans-serif;">E-Mail</span></td>
        <td><span style="font-family:Verdana,Geneva,sans-serif;">{{ mail }}</span></td>
      </tr>
      <tr>
        <td colspan="2"><span style="font-family:Verdana,Geneva,sans-serif;">{{ message }}</span></td>
      </tr>
    </tbody>
  </table>

  <p>&nbsp;</p>
</div>